ul {
    list-style: none;
    padding: 0;
  }

  /* Estilo para los párrafos dentro de los elementos de lista */
  ul li p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

  /* Estilo para el contenedor del código */
  .bg-black {
    background-color: #000;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .rounded-md {
    border-radius: 0.375rem;
  }

  /* Estilo para el encabezado del contenedor del código */
  .flex {
    display: flex;
    align-items: center;
  }

  .relative {
    position: relative;
  }

  .text-gray-200 {
    color: #edf2f7;
  }

  .bg-gray-800 {
    background-color: #2d3748;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .text-xs {
    font-size: 0.75rem;
  }

  .font-sans {
    font-family: sans-serif;
  }

  /* Estilo para el botón "Copy code" */
  .ml-auto {
    margin-left: auto;
  }

  .gap-2 {
    gap: 0.5rem;
  }

  /* Estilo para el icono del botón "Copy code" */
  svg {
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
    vertical-align: middle;
  }

  .h-4 {
    height: 1rem;
  }

  .w-4 {
    width: 1rem;
  }

  /* Estilo para el contenedor del código */
  .p-4 {
    padding: 1rem;
    overflow-y: auto;
  }

  /* Estilo para el código dentro del contenedor */
  
  .whitespace-pre {
    white-space: pre;
  }

  .hljs {
    color: #abb2bf;
  }

  .hljs-selector-tag {
    color: #e06c75;
  }

  .language-css .hljs-property {
    color: #61afef;
  }

  /* Estilo para el botón "Copy Code" cuando se hace clic */
  #copy-code-button:active {
    transform: translateY(1px);
    filter: brightness(90%);
  }